org.dcs.flow/src/test/resources/org/dcs/flow/client/flow-instance.json
{
  "revision" : {
    "clientId" : "29474d0f-3e21-4136-90fd-ad4e2c613afb",
    "version" : 49,
    "lastModifier" : null
  },
  "processGroup" : {
    "id" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
    "uri" : "http://localhost:8888/nifi-api/controller/process-groups/34c0febd-d9c2-48f7-988b-97e6b59cf96e",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "parentGroupId" : null,
    "name" : "NiFi Flow",
    "comments" : "",
    "running" : null,
    "parent" : null,
    "runningCount" : 0,
    "stoppedCount" : 5,
    "invalidCount" : 0,
    "disabledCount" : 0,
    "activeRemotePortCount" : 0,
    "inactiveRemotePortCount" : 0,
    "inputPortCount" : 0,
    "outputPortCount" : 0,
    "contents" : {
      "processGroups" : [ ],
      "remoteProcessGroups" : [ ],
      "processors" : [ {
        "id" : "6460e6a3-0921-4517-b99a-9c34fdc864ff",
        "uri" : "http://localhost:8888/nifi-api/controller/process-groups/34c0febd-d9c2-48f7-988b-97e6b59cf96e/processors/6460e6a3-0921-4517-b99a-9c34fdc864ff",
        "position" : {
          "x" : 1364.8779464976515,
          "y" : 1117.5096745303163
        },
        "parentGroupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
        "name" : "LogAttribute",
        "type" : "org.apache.nifi.processors.standard.LogAttribute",
        "state" : "STOPPED",
        "style" : { },
        "relationships" : [ {
          "name" : "success",
          "description" : "All FlowFiles are routed to this relationship",
          "autoTerminate" : true
        } ],
        "description" : null,
        "supportsParallelProcessing" : true,
        "supportsEventDriven" : true,
        "supportsBatching" : true,
        "persistsState" : false,
        "inputRequirement" : "INPUT_REQUIRED",
        "config" : {
          "properties" : {
            "Log Level" : null,
            "Log Payload" : "true",
            "Attributes to Log" : null,
            "Attributes to Ignore" : null,
            "Log prefix" : null
          },
          "descriptors" : {
            "Log Level" : {
              "name" : "Log Level",
              "displayName" : "Log Level",
              "description" : "The Log Level to use when logging the Attributes",
              "defaultValue" : "info",
              "allowableValues" : [ {
                "displayName" : "trace",
                "value" : "trace",
                "description" : null
              }, {
                "displayName" : "debug",
                "value" : "debug",
                "description" : null
              }, {
                "displayName" : "info",
                "value" : "info",
                "description" : null
              }, {
                "displayName" : "warn",
                "value" : "warn",
                "description" : null
              }, {
                "displayName" : "error",
                "value" : "error",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Log Payload" : {
              "name" : "Log Payload",
              "displayName" : "Log Payload",
              "description" : "If true, the FlowFile's payload will be logged, in addition to its attributes; otherwise, just the Attributes will be logged.",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Attributes to Log" : {
              "name" : "Attributes to Log",
              "displayName" : "Attributes to Log",
              "description" : "A comma-separated list of Attributes to Log. If not specified, all attributes will be logged.",
              "defaultValue" : null,
              "allowableValues" : null,
              "required" : false,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Attributes to Ignore" : {
              "name" : "Attributes to Ignore",
              "displayName" : "Attributes to Ignore",
              "description" : "A comma-separated list of Attributes to ignore. If not specified, no attributes will be ignored.",
              "defaultValue" : null,
              "allowableValues" : null,
              "required" : false,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Log prefix" : {
              "name" : "Log prefix",
              "displayName" : "Log prefix",
              "description" : "Log prefix appended to the log lines. It helps to distinguish the output of multiple LogAttribute processors.",
              "defaultValue" : null,
              "allowableValues" : null,
              "required" : false,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : true,
              "identifiesControllerService" : null
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : null,
          "comments" : "",
          "customUiUrl" : null,
          "lossTolerant" : false,
          "annotationData" : null,
          "defaultConcurrentTasks" : {
            "TIMER_DRIVEN" : "1",
            "EVENT_DRIVEN" : "0",
            "CRON_DRIVEN" : "1"
          },
          "defaultSchedulingPeriod" : {
            "TIMER_DRIVEN" : "0 sec",
            "CRON_DRIVEN" : "* * * * * ?"
          }
        },
        "validationErrors" : null
      }, {
        "id" : "84579c8a-f861-4325-9e6d-b108b88e3aa6",
        "uri" : "http://localhost:8888/nifi-api/controller/process-groups/34c0febd-d9c2-48f7-988b-97e6b59cf96e/processors/84579c8a-f861-4325-9e6d-b108b88e3aa6",
        "position" : {
          "x" : 1358.8779464976515,
          "y" : 769.5096745303163
        },
        "parentGroupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
        "name" : "Extract Date to Attribute",
        "type" : "org.apache.nifi.processors.standard.ExtractText",
        "state" : "STOPPED",
        "style" : { },
        "relationships" : [ {
          "name" : "matched",
          "description" : "FlowFiles are routed to this relationship when the Regular Expression is successfully evaluated and the FlowFile is modified as a result",
          "autoTerminate" : false
        }, {
          "name" : "unmatched",
          "description" : "FlowFiles are routed to this relationship when no provided Regular Expression matches the content of the FlowFile",
          "autoTerminate" : true
        } ],
        "description" : null,
        "supportsParallelProcessing" : true,
        "supportsEventDriven" : true,
        "supportsBatching" : true,
        "persistsState" : false,
        "inputRequirement" : "INPUT_REQUIRED",
        "config" : {
          "properties" : {
            "Character Set" : null,
            "Maximum Buffer Size" : null,
            "Maximum Capture Group Length" : null,
            "Enable Canonical Equivalence" : null,
            "Enable Case-insensitive Matching" : null,
            "Permit Whitespace and Comments in Pattern" : null,
            "Enable DOTALL Mode" : null,
            "Enable Literal Parsing of the Pattern" : null,
            "Enable Multiline Mode" : null,
            "Enable Unicode-aware Case Folding" : null,
            "Enable Unicode Predefined Character Classes" : null,
            "Enable Unix Lines Mode" : null,
            "Include Capture Group 0" : null,
            "date" : "(\\d{2}-\\d{2}-\\d{4} \\d{2}\\.\\d{2}\\.\\d{2})"
          },
          "descriptors" : {
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "description" : "The Character Set in which the file is encoded",
              "defaultValue" : "UTF-8",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "description" : "Specifies the maximum amount of data to buffer (per file) in order to apply the regular expressions.  Files larger than the specified maximum will not be fully evaluated.",
              "defaultValue" : "1 MB",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Maximum Capture Group Length" : {
              "name" : "Maximum Capture Group Length",
              "displayName" : "Maximum Capture Group Length",
              "description" : "Specifies the maximum number of characters a given capture group value can have.  Any characters beyond the max will be truncated.",
              "defaultValue" : "1024",
              "allowableValues" : null,
              "required" : false,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Enable Canonical Equivalence" : {
              "name" : "Enable Canonical Equivalence",
              "displayName" : "Enable Canonical Equivalence",
              "description" : "Indicates that two characters match only when their full canonical decompositions match.",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Enable Case-insensitive Matching" : {
              "name" : "Enable Case-insensitive Matching",
              "displayName" : "Enable Case-insensitive Matching",
              "description" : "Indicates that two characters match even if they are in a different case.  Can also be specified via the embeded flag (?i).",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Permit Whitespace and Comments in Pattern" : {
              "name" : "Permit Whitespace and Comments in Pattern",
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "description" : "In this mode, whitespace is ignored, and embedded comments starting with # are ignored until the end of a line.  Can also be specified via the embeded flag (?x).",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Enable DOTALL Mode" : {
              "name" : "Enable DOTALL Mode",
              "displayName" : "Enable DOTALL Mode",
              "description" : "Indicates that the expression '.' should match any character, including a line terminator.  Can also be specified via the embeded flag (?s).",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Enable Literal Parsing of the Pattern" : {
              "name" : "Enable Literal Parsing of the Pattern",
              "displayName" : "Enable Literal Parsing of the Pattern",
              "description" : "Indicates that Metacharacters and escape characters should be given no special meaning.",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Enable Multiline Mode" : {
              "name" : "Enable Multiline Mode",
              "displayName" : "Enable Multiline Mode",
              "description" : "Indicates that '^' and '$' should match just after and just before a line terminator or end of sequence, instead of only the begining or end of the entire input.  Can also be specified via the embeded flag (?m).",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Enable Unicode-aware Case Folding" : {
              "name" : "Enable Unicode-aware Case Folding",
              "displayName" : "Enable Unicode-aware Case Folding",
              "description" : "When used with 'Enable Case-insensitive Matching', matches in a manner consistent with the Unicode Standard.  Can also be specified via the embeded flag (?u).",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Enable Unicode Predefined Character Classes" : {
              "name" : "Enable Unicode Predefined Character Classes",
              "displayName" : "Enable Unicode Predefined Character Classes",
              "description" : "Specifies conformance with the Unicode Technical Standard #18: Unicode Regular Expression Annex C: Compatibility Properties.  Can also be specified via the embeded flag (?U).",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Enable Unix Lines Mode" : {
              "name" : "Enable Unix Lines Mode",
              "displayName" : "Enable Unix Lines Mode",
              "description" : "Indicates that only the '\n' line terminator is recognized in the behavior of '.', '^', and '$'.  Can also be specified via the embeded flag (?d).",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Include Capture Group 0" : {
              "name" : "Include Capture Group 0",
              "displayName" : "Include Capture Group 0",
              "description" : "Indicates that Capture Group 0 should be included as an attribute. Capture Group 0 represents the entirety of the regular expression match, is typically not used, and could have considerable length.",
              "defaultValue" : "true",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "date" : {
              "name" : "date",
              "displayName" : "date",
              "description" : "",
              "defaultValue" : null,
              "allowableValues" : null,
              "required" : false,
              "sensitive" : false,
              "dynamic" : true,
              "supportsEl" : false,
              "identifiesControllerService" : null
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : null,
          "comments" : "",
          "customUiUrl" : null,
          "lossTolerant" : false,
          "annotationData" : null,
          "defaultConcurrentTasks" : {
            "TIMER_DRIVEN" : "1",
            "EVENT_DRIVEN" : "0",
            "CRON_DRIVEN" : "1"
          },
          "defaultSchedulingPeriod" : {
            "TIMER_DRIVEN" : "0 sec",
            "CRON_DRIVEN" : "* * * * * ?"
          }
        },
        "validationErrors" : null
      }, {
        "id" : "3052edb4-7f2f-4a4f-ae31-4f6f8bc13e52",
        "uri" : "http://localhost:8888/nifi-api/controller/process-groups/34c0febd-d9c2-48f7-988b-97e6b59cf96e/processors/3052edb4-7f2f-4a4f-ae31-4f6f8bc13e52",
        "position" : {
          "x" : 1363.8779464976515,
          "y" : 945.5096745303163
        },
        "parentGroupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
        "name" : "Replace Content with new Date",
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "state" : "STOPPED",
        "style" : { },
        "relationships" : [ {
          "name" : "failure",
          "description" : "FlowFiles that could not be updated are routed to this relationship",
          "autoTerminate" : true
        }, {
          "name" : "success",
          "description" : "FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.",
          "autoTerminate" : false
        } ],
        "description" : null,
        "supportsParallelProcessing" : true,
        "supportsEventDriven" : true,
        "supportsBatching" : true,
        "persistsState" : false,
        "inputRequirement" : "INPUT_REQUIRED",
        "config" : {
          "properties" : {
            "Regular Expression" : "(\\d{2}-\\d{2}-\\d{4} \\d{2}\\.\\d{2}\\.\\d{2})",
            "Replacement Value" : "${date:toDate(\"dd-MM-yyyy HH.mm.ss\"):format(\"yyyy-MM-dd HH:mm:ss+0000\")}",
            "Character Set" : null,
            "Maximum Buffer Size" : null,
            "Replacement Strategy" : null,
            "Evaluation Mode" : null
          },
          "descriptors" : {
            "Regular Expression" : {
              "name" : "Regular Expression",
              "displayName" : "Search Value",
              "description" : "The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies",
              "defaultValue" : "(?s:^.*$)",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : true,
              "identifiesControllerService" : null
            },
            "Replacement Value" : {
              "name" : "Replacement Value",
              "displayName" : "Replacement Value",
              "description" : "The value to insert using the 'Replacement Strategy'. Using \"Regex Replace\" back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value. Back References may also be referenced using the Expression Language, as '$1', '$2', etc. The single-tick marks MUST be included, as these variables are not \"Standard\" attribute names (attribute names must be quoted unless they contain only numbers, letters, and _).",
              "defaultValue" : "$1",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : true,
              "identifiesControllerService" : null
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "description" : "The Character Set in which the file is encoded",
              "defaultValue" : "UTF-8",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "description" : "Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the replacement. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored if the <Replacement Strategy> property is set to one of: Append, Prepend, Always Replace",
              "defaultValue" : "1 MB",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Replacement Strategy" : {
              "name" : "Replacement Strategy",
              "displayName" : "Replacement Strategy",
              "description" : "The strategy for how and what to replace within the FlowFile's text content.",
              "defaultValue" : "Regex Replace",
              "allowableValues" : [ {
                "displayName" : "Prepend",
                "value" : "Prepend",
                "description" : "Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be prepended to each line. For \"Entire Text\" evaluation mode, the value will be prepended to the entire text."
              }, {
                "displayName" : "Append",
                "value" : "Append",
                "description" : "Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be appended to each line. For \"Entire Text\" evaluation mode, the value will be appended to the entire text."
              }, {
                "displayName" : "Regex Replace",
                "value" : "Regex Replace",
                "description" : "Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression."
              }, {
                "displayName" : "Literal Replace",
                "value" : "Literal Replace",
                "description" : "Search for all instances of the Search Value and replace the matches with the Replacement Value."
              }, {
                "displayName" : "Always Replace",
                "value" : "Always Replace",
                "description" : "Always replaces the entire line or the entire contents of the FlowFile (depending on the value of the <Evaluation Mode> property) and does not bother searching for any value. When this strategy is chosen, the <Search Value> property is ignored."
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Evaluation Mode" : {
              "name" : "Evaluation Mode",
              "displayName" : "Evaluation Mode",
              "description" : "Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.",
              "defaultValue" : "Entire text",
              "allowableValues" : [ {
                "displayName" : "Line-by-Line",
                "value" : "Line-by-Line",
                "description" : null
              }, {
                "displayName" : "Entire text",
                "value" : "Entire text",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : null,
          "comments" : "",
          "customUiUrl" : null,
          "lossTolerant" : false,
          "annotationData" : null,
          "defaultConcurrentTasks" : {
            "TIMER_DRIVEN" : "1",
            "EVENT_DRIVEN" : "0",
            "CRON_DRIVEN" : "1"
          },
          "defaultSchedulingPeriod" : {
            "TIMER_DRIVEN" : "0 sec",
            "CRON_DRIVEN" : "* * * * * ?"
          }
        },
        "validationErrors" : null
      }, {
        "id" : "66ec429b-0975-4953-9881-7a57103e1b79",
        "uri" : "http://localhost:8888/nifi-api/controller/process-groups/34c0febd-d9c2-48f7-988b-97e6b59cf96e/processors/66ec429b-0975-4953-9881-7a57103e1b79",
        "position" : {
          "x" : 1353.879289271089,
          "y" : 400.49440811185923
        },
        "parentGroupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
        "name" : "GenerateFlowFile",
        "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
        "state" : "STOPPED",
        "style" : { },
        "relationships" : [ {
          "name" : "success",
          "description" : "",
          "autoTerminate" : false
        } ],
        "description" : null,
        "supportsParallelProcessing" : true,
        "supportsEventDriven" : false,
        "supportsBatching" : true,
        "persistsState" : false,
        "inputRequirement" : "INPUT_FORBIDDEN",
        "config" : {
          "properties" : {
            "File Size" : "1 kb",
            "Batch Size" : null,
            "Data Format" : null,
            "Unique FlowFiles" : null
          },
          "descriptors" : {
            "File Size" : {
              "name" : "File Size",
              "displayName" : "File Size",
              "description" : "The size of the file that will be used",
              "defaultValue" : null,
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Batch Size" : {
              "name" : "Batch Size",
              "displayName" : "Batch Size",
              "description" : "The number of FlowFiles to be transferred in each invocation",
              "defaultValue" : "1",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Data Format" : {
              "name" : "Data Format",
              "displayName" : "Data Format",
              "description" : "Specifies whether the data should be Text or Binary",
              "defaultValue" : "Binary",
              "allowableValues" : [ {
                "displayName" : "Binary",
                "value" : "Binary",
                "description" : null
              }, {
                "displayName" : "Text",
                "value" : "Text",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Unique FlowFiles" : {
              "name" : "Unique FlowFiles",
              "displayName" : "Unique FlowFiles",
              "description" : "If true, each FlowFile that is generated will be unique. If false, a random value will be generated and all FlowFiles will get the same content but this offers much higher throughput",
              "defaultValue" : "false",
              "allowableValues" : [ {
                "displayName" : "true",
                "value" : "true",
                "description" : null
              }, {
                "displayName" : "false",
                "value" : "false",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            }
          },
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : null,
          "comments" : "",
          "customUiUrl" : null,
          "lossTolerant" : false,
          "annotationData" : null,
          "defaultConcurrentTasks" : {
            "TIMER_DRIVEN" : "1",
            "EVENT_DRIVEN" : "0",
            "CRON_DRIVEN" : "1"
          },
          "defaultSchedulingPeriod" : {
            "TIMER_DRIVEN" : "0 sec",
            "CRON_DRIVEN" : "* * * * * ?"
          }
        },
        "validationErrors" : null
      }, {
        "id" : "d9bd6c32-5f3d-4a85-a43f-09218492b95a",
        "uri" : "http://localhost:8888/nifi-api/controller/process-groups/34c0febd-d9c2-48f7-988b-97e6b59cf96e/processors/d9bd6c32-5f3d-4a85-a43f-09218492b95a",
        "position" : {
          "x" : 1354.8779464976515,
          "y" : 596.5096745303163
        },
        "parentGroupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
        "name" : "Create Test Data",
        "type" : "org.apache.nifi.processors.standard.ReplaceText",
        "state" : "STOPPED",
        "style" : { },
        "relationships" : [ {
          "name" : "failure",
          "description" : "FlowFiles that could not be updated are routed to this relationship",
          "autoTerminate" : true
        }, {
          "name" : "success",
          "description" : "FlowFiles that have been successfully processed are routed to this relationship. This includes both FlowFiles that had text replaced and those that did not.",
          "autoTerminate" : false
        } ],
        "description" : null,
        "supportsParallelProcessing" : true,
        "supportsEventDriven" : true,
        "supportsBatching" : true,
        "persistsState" : false,
        "inputRequirement" : "INPUT_REQUIRED",
        "config" : {
          "properties" : {
            "Regular Expression" : null,
            "Replacement Value" : "This is a 26-02-2000 12.37.29 test",
            "Character Set" : null,
            "Maximum Buffer Size" : null,
            "Replacement Strategy" : null,
            "Evaluation Mode" : null
          },
          "descriptors" : {
            "Regular Expression" : {
              "name" : "Regular Expression",
              "displayName" : "Search Value",
              "description" : "The Search Value to search for in the FlowFile content. Only used for 'Literal Replace' and 'Regex Replace' matching strategies",
              "defaultValue" : "(?s:^.*$)",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : true,
              "identifiesControllerService" : null
            },
            "Replacement Value" : {
              "name" : "Replacement Value",
              "displayName" : "Replacement Value",
              "description" : "The value to insert using the 'Replacement Strategy'. Using \"Regex Replace\" back-references to Regular Expression capturing groups are supported, but back-references that reference capturing groups that do not exist in the regular expression will be treated as literal value. Back References may also be referenced using the Expression Language, as '$1', '$2', etc. The single-tick marks MUST be included, as these variables are not \"Standard\" attribute names (attribute names must be quoted unless they contain only numbers, letters, and _).",
              "defaultValue" : "$1",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : true,
              "identifiesControllerService" : null
            },
            "Character Set" : {
              "name" : "Character Set",
              "displayName" : "Character Set",
              "description" : "The Character Set in which the file is encoded",
              "defaultValue" : "UTF-8",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Maximum Buffer Size" : {
              "name" : "Maximum Buffer Size",
              "displayName" : "Maximum Buffer Size",
              "description" : "Specifies the maximum amount of data to buffer (per file or per line, depending on the Evaluation Mode) in order to apply the replacement. If 'Entire Text' (in Evaluation Mode) is selected and the FlowFile is larger than this value, the FlowFile will be routed to 'failure'. In 'Line-by-Line' Mode, if a single line is larger than this value, the FlowFile will be routed to 'failure'. A default value of 1 MB is provided, primarily for 'Entire Text' mode. In 'Line-by-Line' Mode, a value such as 8 KB or 16 KB is suggested. This value is ignored if the <Replacement Strategy> property is set to one of: Append, Prepend, Always Replace",
              "defaultValue" : "1 MB",
              "allowableValues" : null,
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Replacement Strategy" : {
              "name" : "Replacement Strategy",
              "displayName" : "Replacement Strategy",
              "description" : "The strategy for how and what to replace within the FlowFile's text content.",
              "defaultValue" : "Regex Replace",
              "allowableValues" : [ {
                "displayName" : "Prepend",
                "value" : "Prepend",
                "description" : "Insert the Replacement Value at the beginning of the FlowFile or the beginning of each line (depending on the Evaluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be prepended to each line. For \"Entire Text\" evaluation mode, the value will be prepended to the entire text."
              }, {
                "displayName" : "Append",
                "value" : "Append",
                "description" : "Insert the Replacement Value at the end of the FlowFile or the end of each line (depending on the Evluation Mode). For \"Line-by-Line\" Evaluation Mode, the value will be appended to each line. For \"Entire Text\" evaluation mode, the value will be appended to the entire text."
              }, {
                "displayName" : "Regex Replace",
                "value" : "Regex Replace",
                "description" : "Interpret the Search Value as a Regular Expression and replace all matches with the Replacement Value. The Replacement Value may reference Capturing Groups used in the Search Value by using a dollar-sign followed by the Capturing Group number, such as $1 or $2. If the Search Value is set to .* then everything is replaced without even evaluating the Regular Expression."
              }, {
                "displayName" : "Literal Replace",
                "value" : "Literal Replace",
                "description" : "Search for all instances of the Search Value and replace the matches with the Replacement Value."
              }, {
                "displayName" : "Always Replace",
                "value" : "Always Replace",
                "description" : "Always replaces the entire line or the entire contents of the FlowFile (depending on the value of the <Evaluation Mode> property) and does not bother searching for any value. When this strategy is chosen, the <Search Value> property is ignored."
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            },
            "Evaluation Mode" : {
              "name" : "Evaluation Mode",
              "displayName" : "Evaluation Mode",
              "description" : "Run the 'Replacement Strategy' against each line separately (Line-by-Line) or buffer the entire file into memory (Entire Text) and run against that.",
              "defaultValue" : "Entire text",
              "allowableValues" : [ {
                "displayName" : "Line-by-Line",
                "value" : "Line-by-Line",
                "description" : null
              }, {
                "displayName" : "Entire text",
                "value" : "Entire text",
                "description" : null
              } ],
              "required" : true,
              "sensitive" : false,
              "dynamic" : false,
              "supportsEl" : false,
              "identifiesControllerService" : null
            }
          },
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "penaltyDuration" : "30 sec",
          "yieldDuration" : "1 sec",
          "bulletinLevel" : "WARN",
          "runDurationMillis" : 0,
          "concurrentlySchedulableTaskCount" : 1,
          "autoTerminatedRelationships" : null,
          "comments" : "",
          "customUiUrl" : null,
          "lossTolerant" : false,
          "annotationData" : null,
          "defaultConcurrentTasks" : {
            "TIMER_DRIVEN" : "1",
            "EVENT_DRIVEN" : "0",
            "CRON_DRIVEN" : "1"
          },
          "defaultSchedulingPeriod" : {
            "TIMER_DRIVEN" : "0 sec",
            "CRON_DRIVEN" : "* * * * * ?"
          }
        },
        "validationErrors" : null
      } ],
      "inputPorts" : [ ],
      "outputPorts" : [ ],
      "connections" : [ {
        "id" : "1cbdc655-7c2f-450f-a4be-2a5998a8c337",
        "uri" : "http://localhost:8888/nifi-api/controller/process-groups/root/connections/1cbdc655-7c2f-450f-a4be-2a5998a8c337",
        "position" : null,
        "parentGroupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
        "source" : {
          "id" : "3052edb4-7f2f-4a4f-ae31-4f6f8bc13e52",
          "type" : "PROCESSOR",
          "groupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
          "name" : "Replace Content with new Date",
          "running" : false,
          "transmitting" : null,
          "exists" : null,
          "comments" : ""
        },
        "destination" : {
          "id" : "6460e6a3-0921-4517-b99a-9c34fdc864ff",
          "type" : "PROCESSOR",
          "groupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
          "name" : "LogAttribute",
          "running" : false,
          "transmitting" : null,
          "exists" : null,
          "comments" : ""
        },
        "name" : "",
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "success" ],
        "availableRelationships" : [ "failure", "success" ],
        "backPressureObjectThreshold" : 0,
        "backPressureDataSizeThreshold" : "0 MB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ]
      }, {
        "id" : "d45afbda-5676-4b1a-a68e-70a61ec8c8b3",
        "uri" : "http://localhost:8888/nifi-api/controller/process-groups/root/connections/d45afbda-5676-4b1a-a68e-70a61ec8c8b3",
        "position" : null,
        "parentGroupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
        "source" : {
          "id" : "66ec429b-0975-4953-9881-7a57103e1b79",
          "type" : "PROCESSOR",
          "groupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
          "name" : "GenerateFlowFile",
          "running" : false,
          "transmitting" : null,
          "exists" : null,
          "comments" : ""
        },
        "destination" : {
          "id" : "d9bd6c32-5f3d-4a85-a43f-09218492b95a",
          "type" : "PROCESSOR",
          "groupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
          "name" : "Create Test Data",
          "running" : false,
          "transmitting" : null,
          "exists" : null,
          "comments" : ""
        },
        "name" : "",
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "success" ],
        "availableRelationships" : [ "success" ],
        "backPressureObjectThreshold" : 0,
        "backPressureDataSizeThreshold" : "0 MB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ]
      }, {
        "id" : "3b628ecf-8456-4b64-a378-1c628b40321a",
        "uri" : "http://localhost:8888/nifi-api/controller/process-groups/root/connections/3b628ecf-8456-4b64-a378-1c628b40321a",
        "position" : null,
        "parentGroupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
        "source" : {
          "id" : "d9bd6c32-5f3d-4a85-a43f-09218492b95a",
          "type" : "PROCESSOR",
          "groupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
          "name" : "Create Test Data",
          "running" : false,
          "transmitting" : null,
          "exists" : null,
          "comments" : ""
        },
        "destination" : {
          "id" : "84579c8a-f861-4325-9e6d-b108b88e3aa6",
          "type" : "PROCESSOR",
          "groupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
          "name" : "Extract Date to Attribute",
          "running" : false,
          "transmitting" : null,
          "exists" : null,
          "comments" : ""
        },
        "name" : "",
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "success" ],
        "availableRelationships" : [ "failure", "success" ],
        "backPressureObjectThreshold" : 0,
        "backPressureDataSizeThreshold" : "0 MB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ]
      }, {
        "id" : "731ecd01-040d-471f-a527-a4d4bc227f60",
        "uri" : "http://localhost:8888/nifi-api/controller/process-groups/root/connections/731ecd01-040d-471f-a527-a4d4bc227f60",
        "position" : null,
        "parentGroupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
        "source" : {
          "id" : "84579c8a-f861-4325-9e6d-b108b88e3aa6",
          "type" : "PROCESSOR",
          "groupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
          "name" : "Extract Date to Attribute",
          "running" : false,
          "transmitting" : null,
          "exists" : null,
          "comments" : ""
        },
        "destination" : {
          "id" : "3052edb4-7f2f-4a4f-ae31-4f6f8bc13e52",
          "type" : "PROCESSOR",
          "groupId" : "34c0febd-d9c2-48f7-988b-97e6b59cf96e",
          "name" : "Replace Content with new Date",
          "running" : false,
          "transmitting" : null,
          "exists" : null,
          "comments" : ""
        },
        "name" : "",
        "labelIndex" : 1,
        "zIndex" : 0,
        "selectedRelationships" : [ "matched" ],
        "availableRelationships" : [ "matched", "unmatched" ],
        "backPressureObjectThreshold" : 0,
        "backPressureDataSizeThreshold" : "0 MB",
        "flowFileExpiration" : "0 sec",
        "prioritizers" : [ ],
        "bends" : [ ]
      } ],
      "labels" : [ ],
      "funnels" : [ ],
      "controllerServices" : [ ]
    }
  }
}